<pre>
#!/bin/bash
#     _____          _           _           _ _          __             
#    /__   \___  ___| |__  _ __ (_) ___ __ _| | |_   _   / _|_   _ _ __  
#      / /\/ _ \/ __| '_ \| '_ \| |/ __/ _` | | | | | | | |_| | | | '_ \ 
#     / / |  __/ (__| | | | | | | (_| (_| | | | |_| |_|  _| |_| | | | |
#     \/   \___|\___|_| |_|_| |_|_|\___\__,_|_|_|\__, (_)_|  \__,_|_| |_|
#               2025 Steffen Blake              |___/                   
</pre>

<h1>Technically Fun</h1>
<h2>Navigation</h2>
<nav>
    <a href="/">1. Home</a>
    <a href="/posts">2. All my posts</a>
    <a href="/about">3. About me</a>
</nav>

